<div class="content-container">
  <mat-card>
    <h2 class="form-title">CADASTRO DE USUÁRIOS</h2>
    <form class="usuario-form" (ngSubmit)="onSubmit()">
      <!-- DADOS DO USUÁRIO -->
      <fieldset>
        <legend>DADOS DO USUÁRIO</legend>
        <div class="row">
          <!-- Nome Completo -->
          <div class="col-md-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Nome Completo</mat-label>
              <input matInput placeholder="Digite o nome completo" required />
            </mat-form-field>
          </div>
          <!-- CPF -->
          <div class="col-md-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>CPF</mat-label>
              <input matInput placeholder="___.___.___-__" required />
            </mat-form-field>
          </div>
        </div>
      </fieldset>

      <!-- ACESSO -->
      <fieldset>
        <legend>ACESSO</legend>
        <div class="row">
          <!-- Usuário -->
          <div class="col-md-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label><mat-icon>person</mat-icon> Usuário</mat-label>
              <input matInput placeholder="Digite o nome de usuário" required />
            </mat-form-field>
          </div>
          <!-- Senha -->
          <div class="col-md-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label><mat-icon>lock</mat-icon> Senha</mat-label>
              <input matInput placeholder="Digite a senha" [type]="hide ? 'password' : 'text'" required />
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Mostrar senha'">
                <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <!-- Opções de Acesso -->
          <div class="col-md-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Opções de Acesso</mat-label>
              <mat-select [(value)]="idTiposLogin" name="idTiposLogin" required>
                <mat-option value="">Selecione</mat-option>
                <mat-option *ngFor="let tipo of tiposLogin" [value]="tipo.id">
                  {{ tipo.tiposLogin }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </fieldset>

      <!-- BOTÕES -->
      <div class="row mt-3">
        <div class="col-12 d-flex justify-content-between">
          <button mat-stroked-button color="warn" type="button" (click)="onClear()">Limpar</button>
          <div>
            <button mat-stroked-button color="accent" type="button" (click)="onBack()">Voltar</button>
            <button mat-raised-button color="primary" type="submit">Cadastrar</button>
          </div>
        </div>
      </div>
    </form>
  </mat-card>
</div>
