<main>
  <div class="button-container" (click)="navigateTo('caixa/abertura')">
    <div class="button-card">
      <img src="" alt="">
      <p>Abrir Caixa</p>
    </div>
    <div class="button-card">
      <img src="" alt="">
      <p>Consulta Caixa</p>
    </div>
    <div class="button-card" (click)="navigateTo('caixa/fechamento')">
      <img src="" alt="">
      <p>Fechar Caixa</p>
    </div>
    <div class="button-card">
      <img src="" alt="">
      <p>Retirada de Caixa</p>
    </div>
  </div>
</main>
