.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 0.5s ease, visibility 0.5s ease;

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
}

.loading-container {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-family: Arial, sans-serif;
  opacity: 1;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.loading-container.fade-out {
  opacity: 0;
  visibility: hidden;
}

img {
  mix-blend-mode: darken;
}

.logo {
  height: auto;
  border-radius: 10px;
}

.name {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  margin: 10px 0;
}

.title {
  font-size: 18px;
  color: #666;
  margin: 5px 0 20px;
}

.progress-bar {
  width: 300px;
  height: 10px;
  background-color: #d3d3d3;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px auto;
}

.progress {
  height: 100%;
  width: 0;
  background-color: #007bff;
  transition: width 0.1s ease-in-out;
}

.percentage {
  font-size: 14px;
  color: #333;
  margin-top: 10px;
}
